@model EventViewModel
@{
    ViewData["Title"] = @ViewData.Model.Name;
}
<form asp-action="AddAttendee" asp-route-id=@ViewData.Model.Id class="text-center" method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Имя</label>
        <input class="form-control" type="text" id="name" name="name" required>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary">Добавить участника</button>
    </div>
</form>

<h2>Затраты участников</h2>
<table class="table table-light">
    <thead>
    <tr>
        <th scope="col">Участник</th>
        <th scope="col">Потратил</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var attendee in Model.Attendees)
    {
        <tr>
            <td>@attendee.Name</td>
            <td>@attendee.Expenses.Sum(x => x.Amount)</td>
            <td>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target=@("#addExpenseModal" + attendee.Id)>
                    <span class="bi bi-bag-plus-fill text-warning"></span> Расходы
                </button>
                @if (!attendee.InFamily)
                {
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target=@("#groupFamilyModal" + attendee.Id)>
                        <span class="bi bi-diagram-3 text-warning"></span> Семья
                    </button>
                }
            </td>
            <div class="modal fade" id=@("addExpenseModal" + attendee.Id) tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addExpenseModalLabel">Добавить покупку/трату</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="AddAttendeeExpense" asp-route-eventId=@ViewData.Model.Id asp-route-attendeeId=@attendee.Id class="text-center" method="post">
                                <div class="mb-3">
                                    <label class="form-label" for="name">Наименование</label>
                                    <input class="form-control" type="text" id="name" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="amount">Сумма</label>
                                    <input class="form-control" type="number" id="amount" name="amount" required>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id=@("groupFamilyModal" + attendee.Id) tabindex="-1" aria-labelledby="groupFamilyModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="groupFamilyModalLabel">Выберите членов семьи для @attendee.Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="JoinFamilyAttendees" asp-route-eventId=@ViewData.Model.Id asp-route-attendeeId=@attendee.Id class="text-center" method="post">
                                @foreach (var item in Model.Attendees.Where(x => x.Id != attendee.Id))
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="dependantIds" value="@item.Id" id="item-@item.Id">
                                        <label class="form-check-label" for="item-@item.Id">
                                            @item.Name
                                        </label>
                                    </div>
                                }
                                <div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    }
    </tbody>
</table>

<h2>Взаиморассчеты участников</h2>
<div class="row mb-3">
    <div class="col">
        <select id="fromPayment" class="form-select" aria-label="Выберите от кого">
            <option selected>Выберите от кого</option>
            @foreach (var attendee in Model.Attendees)
            {
                <option value=@attendee.Id>@attendee.Name</option>
            }
        </select>
    </div>
    <div class="col">
        <select id="toPayment" class="form-select" aria-label="Выберите кому">
            <option selected>Выберите кому</option>
            @foreach (var attendee in Model.Attendees)
            {
                <option value=@attendee.Id>@attendee.Name</option>
            }
        </select>
    </div>
</div>
<div class="mb-3">
    <button id="loadAttendeePayment" class="btn btn-outline-primary">Показать</button>
</div>
<div id="contentContainer">
    
</div>

@section Scripts {

    <script>
    $(document).ready(function() {
      $("#loadAttendeePayment").click(function() {
          const parts = window.location.href.split('/');
          let lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash

        const queryParams = {
            id: lastSegment,
            from: $('#fromPayment').val(),
            to: $('#toPayment').val()
        };
        $.ajax({
            url: '@Url.Action("GetAttendeePaymentsViewContent")',
            type: 'GET',
            data: queryParams,
            success: function(result) {
                $('#contentContainer').html(result);
            }
        });
      });
    });
   </script>
}




